xml/XSD/ejercicio 2.xml

<?xmlversion="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Orderdetails" maxOccurs="unbounded">
<xs:complexType>
  <xs:sequence>
    <xs:element maxOccurs="unbounded" name="Customer">
    <xs:complexType>
    <xs:sequence>
      <xs:element minOccurs="0" name="fname">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extensionbase="xs:string">
              <xs:attribute name="from" type="xs:string" use="required" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="cname" type="xs:string" />
      <xs:element name="destination">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extensionbase="xs:string">
              <xs:attribute name="Country" type="xs:string" use="required" />
              <xs:attribute name="Delivdate" type="xs:string" use="required" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="eid" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:unsignedByte" use="required" />
  </xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>


<Orderdetails>
  <Customer id="01">
    <fname from="España"></fname>
    <destination Country="Portugal" Delivdate="12/12/12"></destination>
    <email>ceu@ceu.es</email>

  </Customer>


</Orderdetails>