xml/XSD/ejercicio 1.xml

<!-- Add XML Schema (XSD) Data -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="items">
<xs:complexType>
  <xs:sequence>
<xs:element name="item" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>

<xs:element name="name" type="xs:string" />
<xs:element name="photo" type="xs:anyURI" />
<xs:element name="tags" type="xs:string" />

<xs:element name="diameter">
    <xs:simpleType>
        <xs:restriction base="xs:integer">
        <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
</xs:element>

<xs:element name="weight">
    <xs:simpleType>
        <xs:restriction base="xs:integer">
        <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
</xs:element>
  <xs:element name="price">
    <xs:simpleType>
        <xs:restriction base="xs:float">
        <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
</xs:element>
  
  
  <xs:element name="size" minOccurs="0" maxOccurs="unbounded">
    <xs:simpleType>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Big"/>
            <xs:enumeration value="Small"/>
        </xs:restriction>
    </xs:simpleType>
</xs:element>
  
  
  </xs:sequence>
  </xs:complexType>
</xs:element>
   </xs:sequence>
  </xs:complexType>
  
  </xs:element>
  </xs:schema>


<?xml version="1.0"?>
<items>
<item>
<name>Item1</name>
<photo>http://example.com/photo1.png</photo>
<tags>Tag1, Tag2</tags>
<diameter>32</diameter>
<weight>540</weight>
<price>60</price>
<size>Big</size>
</item>
<item>
<name>Item2</name>
<photo>http://example.com/photo2.jpg</photo>
<tags>Tag1</tags>
<diameter>23</diameter>
<weight>340</weight>
<price>50.1</price>
</item>
</items>
